<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - feedme_csharp_mvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/feedme_csharp_mvc.styles.css" asp-append-version="true" />
</head>
<body class="bg-secondary bg-opacity-75">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-black bg-opacity-75 border-bottom border-secondary box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-muted" style="font-weight: bold; font-style: italic;" asp-area="" asp-controller="Home" asp-action="Index">FeedMe</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-muted" style="font-weight: bold; font-style: italic;" asp-area="" asp-controller="ChoiceListLayout" asp-action="Index">FeedMe Now!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted" style="font-weight: bold; font-style: italic;" asp-area="" asp-controller="ChoiceLists" asp-action="Index">All Lists</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted" style="font-weight: bold; font-style: italic;" asp-area="" asp-controller="ListOptions" asp-action="Index">Options</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted" style="font-weight: bold; font-style: italic;" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-black bg-opacity-75 container-fluid" style="position: fixed; bottom: 0;">
        <div class="container-fluid nav-link text-muted" style="font-weight: bold; font-style: italic;">
            &copy; 2023 - FeedMe - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
