@using feedme_csharp_mvc.Models
@model List<ChoiceListLayout>

<h2>Your Layouts</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    @foreach(ChoiceListLayout listLayout in @Model)
    {
        <div class="col-3 offset-1 card">
            <div class="card-body">
                <h4 class="card-title">@listLayout.Name</h4>
                <p class="card-text">@listLayout.Description</p>
                <a asp-action="Details" asp-route-id="@listLayout.Id" class="card-link">Details</a>
            </div>
        </div>

    }
</div>
